<div class="about">
    <h1>About the Author</h1>
</div>

<div class="authorpic">
    <%= image_tag("About_Author/IMG_2967.jpg") %>
</div>
<div class="niletag">
    <p>*On the Nile River in Egypt!</p>
</div>

<div class="aboutpara">
<hr>
<p>
    Hi, I'm Kyle. I have been learning to become a Software Developer since October 2019.
    I found The Odin Project's Ruby on Rails Web Development course and I was hooked, it had all
    the things I was searching for; structure, active community, and difficult projects. My
    focus is learning Ruby on Rails, with exposure to HTML/CSS, JavaScript, and SQL.
  
    This project was for fun to check out some Rails things and to use a few different gems.
    More information regarding the project and myself can be found below.
</p>
    <hr>
    <br>
    A link to my repo on Github can be found here: <a href="https://github.com/Kfollen93/memories">Github</a><br>
    A link to my LinkedIn can be found here: <a href="https://www.linkedin.com/in/kyle-follendorf-11036b199">LinkedIn</a>
    
</div>