<div class="about">
    <h1>About the Author</h1>
</div>

<div class="authorpic">
    <%= image_tag("About_Author/IMG_2967.jpg") %>
</div>
<div class="niletag">
    <p>*On the Nile River in Egypt!</p>
</div>

<div class="aboutpara">
    I am 27 years old and I have been learning to become a Software Developer since October 2019.<br>
    Originally, I had experimented with the game engine "Unity", and utilized the language "C#".<br>
    Although it was fun and I made a few games (including my own pixel art), I needed a focus.<br>
    I found The Odin Project's Ruby on Rails Web Development course and I was hooked, it had<br>
    all the things I was searching for; structure, active community, and difficult projects. Upon<br>
    finding the program in January 2020, I shortly after quit my legal position at a law firm and<br>
    began full time studying to become a web developer. My focus is to learn Ruby on Rails<br>
    but I am also exposing myself to HTML/CSS, JavaScript, and SQL.<br>
    <br>
    This project was just for fun to check out some Rails things and to use a few different gems.<br>
    <br>
    A link to the repo on Github can be found here: *ADD LINK*<br>
    <br>
    LinkedIn: https://www.linkedin.com/in/kyle-follendorf-11036b199
</div>