- @gallery.each_slice(1) do |galleries|
  .row
    - galleries.each do |gallery|
      .col
        .gallery
          .image_wrapper
            = link_to gallery do
              = image_tag gallery.image.url(:medium)
          %h2= link_to gallery.title, gallery
