<h1>Login or Sign up view/create your Memories</h1>


<h2>You're still able to login into an account, and then switch the URL to view view another user's post.<br>
Try doing http://localhost:3000/memories/30 while logged in on kylewebsite account. </h2>