.about {
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 45px;
}

.aboutpara {
	text-align: center;
	font-size: 18px;
}

.authorpic {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
        width: 40%;
        border-radius: 5px 5px 5px 5px;
	}
	
}

.niletag{
    text-align: center;
    color: white;
}
